body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px;
    background: linear-gradient(135deg, #f3e7e9, #e3eeff);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 20px;
    
}
h2{
    margin-top: 4%;
    margin-bottom: 2%;
    font-size: 43px;
}
.container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
    max-width: 500px;
}

select {
    padding: 10px;
    font-size: 16px;
}
.info-box {
    width: 80%;
    border: 2px solid;
    padding: 10px;
    background: #dfe6e9;
    border-radius: 8px;
    margin-bottom: 20px;
    text-align: left;
}
.notes-container, .playlist-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}
.pdf-box, .playlist-box {
    width: 250px;
    height: 120px;
    border: 3px solid;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    background: #e3f2fd;
    border-radius: 8px;
    transition: transform 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;
}
.pdf-box:hover, .playlist-box:hover {
    transform: scale(1.05);
}
@media (max-width: 950px) {
    .container {
        flex-direction: column;
        align-items: center;
        /* width: 80%; */
    }
    select {
        width: 90%;
    }
    .pdf-box, .playlist-box {
        width: 40%;
    }
}